# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Env
.venv/
.env

# Data & artifacts
/data/raw/
/data/processed/
/data/external/
/models/
/outputs/
/logs/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
